notifications:
  email: false

# Quick boot options
sudo: false
cache:
  directories:
    - node_modules

# Ignore version tags
branches:
  except:
    - /^v[0-9]/

# Language options
language: node_js
before_install:
  - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
node_js:
  - 4
before_script:
  - npm prune
script:
  - npm run cover
  - npm run lint

# CODECLIMATE_REPO_TOKEN
env:
  global:
    secure: c+13n7vlMKWXHqmEs77ZlF0UzwVJgqifn8FrswmdwqMnseQvcIE8M8nWWRATv9uCRA1ShOCk4kuoswIjHXLMGcXfEO+BEf6RhXA+aSFGPLBIm3ObXwy/NS56v+NecSmn0HI7d+48r0QFjSdGFJc01rxEmmCT0WIW5q5+U3UKq0OodRJL24liIucwFPLKyexwsixhsbyMO4qlfxlas/f2ow6FG1WFjsTnTH8cnn2ZC+84ab9Bpl83i/M17Q56fw5TILRr1wiAOA882+DoEopds1z5FTsd1Ok6Ll12eitz8sWkJd1yA0pP1BV9UjzP1guENe99R3thYJxdQwIEaxxeSegGiK5UUpbUdr70bceSSf4wqUJuMcuftFruM/p95GO6zKFlgk5ybSsHBxIgxS5z6+ICX19Xa0gUL7Jf730JP8zFvBhCC4XBg3UN7AaXQbaNq+Ws/irt7cULD16tXiuaizNdtxOD+bcjCYBElqLmlPexVLQ12vv04oha6Ns/9pe0dabfUEARtBNjwaDhM96DqDRz68BtVywTTLYjs2vaNgGo7xiWw33RcD6GSkRwAHIT+dS6IU5OatxwInw/2taJCs4wSbx8QNkwkCQQqTGV2vsCM/+rJkaJXkdW0tUPOO4Bxo4/ZClsNK8tTjJkduynjlp/ZknQG4vJRyYpbZZ1s1Q=

# Npm publish options
deploy:
  skip_cleanup: true # keep the devDependencies
  provider: npm
  email: i59naga@icloud.com
  api_key:
    secure: miN+6ug7sixqSr9+e55R/15amPYx2TGn4Zw2LGhBPjlbCRlEH5AruBAacsyrJYJWaC4ka/UKmlqCIW2vRJw6vSdUvF+oGRIpSCZLmmd7tMKPMTdN0eHcYLodniPtXfWwbqiyr7MWz8QvcNjTLkK70Wt3Cwla+81GKAEcicJRKexsbPQ2UcJ2TxAg37NvNwZhzkVRud8DyC0sVZhsvXRFU17OidZTW6G00mLobSSvTslrXklY+hRO+pzvOaAoGKqhHW2CxQbhTgSLYwFPenjSFO/1d0eRIZ8uTsWscuThyWNadXj2iz1VtuK9niSStdb8yBP9er9mcykN/8Xhv/NVqqc1LqVNoTdxqOwfZKOc1wGW1FCuxT4tp244RUu2q4uBcXUaSmuuXrNDz4WyEmllj/TQddbZwpsZ+0QT0Iv9aZABWT3FIAJmb3VIYs5n61NMaZfVaa6qpvnUo9O0jjINqkmMO0fqHt8Q2M07cPQKhypLS+mYS1rcnFa4xCzabOnYe28eN5BS8ZNxrf/Ck+IJV8rWDzz/B7ye9Xx8wV6lhaW84aqpRWx68Hq/BRIpNHUpYeKC8cvC5xdxOAAwKmuaxdMadqclcHaUxU2wGBfTJ6ft8uE05fCFsQiW2dSwgkBkdS8ggd/vB1ZwRIsZrQ/XeGRFhfJ2YotDOJRGVUMc2mk=
  on:
    node: 4
